@font-face {
  font-family: 'DrCoder';
  font-style: normal;
  src: url(DrCoder.ttf) format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  src: url(Material-Icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 400;
  src: local('Roboto'), url('roboto/Regular.woff2') format('woff2'), url('roboto/Regular.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 700;
  src: local('Roboto-Bold'), local('Roboto Bold'), url('roboto/Bold.woff2') format('woff2'), url('roboto/Bold.woff') format('woff');
}

@font-face {
  font-style: italic;
  font-family: 'Roboto';
  font-weight: 400;
  src: local('Roboto-Italic'), local('Roboto Italic'), url('roboto/Italic.woff2') format('woff2'), url('roboto/Italic.woff') format('woff');
}

@font-face {
  font-style: italic;
  font-family: 'Roboto';
  font-weight: 700;
  src: local('Roboto-BoldItalic'), local('Roboto Bold Italic'), url('roboto/BoldItalic.woff2') format('woff2'), url('roboto/BoldItalic.woff') format('woff');
}
