@font-face {
  font-style: normal;
  font-family: 'FZLanTingHei';
  font-weight: 400;
  src: local('FZLanTingHeiS-R-GB'), url('fangzheng/ht/FZLTHJW.woff2') format('woff2'), url('fangzheng/ht/FZLTHJW.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-family: 'FZLanTingHei';
  font-weight: 300;
  src: local('FZLanTingHeiS-L-GB'), url('fangzheng/ht/FZLTXIHJW.woff2') format('woff2'), url('fangzheng/ht/FZLTXIHJW.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-family: 'FZLanTingHei';
  font-weight: 700;
  src: local('FZLanTingHeiS-B-GB'), url('fangzheng/ht/FZLTCHJW.woff2') format('woff2'), url('fangzheng/ht/FZLTCHJW.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-family: 'FZYuan';
  font-weight: 400;
  src: local('FZZhunYuan-M02S'), url('fangzheng/yt/FZY3JW.woff2') format('woff2'), url('fangzheng/yt/FZY3JW.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-family: 'FZYuan';
  font-weight: 300;
  src: local('FZXiYuan-M01S'), url('fangzheng/yt/FZY1JW.woff2') format('woff2'), url('fangzheng/yt/FZY1JW.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-family: 'FZYuan';
  font-weight: 700;
  src: local('FZCuYuan-M03S'), url('fangzheng/yt/FZY4JW.woff2') format('woff2'), url('fangzheng/yt/FZY4JW.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-family: 'FZXinSong';
  font-weight: 400;
  src: local('FZNewShuSong-Z10S'), url('fangzheng/FZXSSJW.woff2') format('woff2'), url('fangzheng/FZXSSJW.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-family: 'FZKai';
  font-weight: 400;
  src: local('FZKai-Z03S'), url('fangzheng/FZKTJW.woff2') format('woff2'), url('fangzheng/FZKTJW.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-family: 'FZGongYeHei';
  font-weight: 400;
  src: local('FZGongYHS-R-GB'), url('fangzheng/FZGongYHJW.woff2') format('woff2'), url('fangzheng/FZGongYHJW.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-family: 'FZHanZhenGuangBiao';
  font-weight: 400;
  src: local('FZHanZhenGuangBiaoS-GB'), url('fangzheng/FZHZGBJW.woff2') format('woff2'), url('fangzheng/FZHZGBJW.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-family: 'FZZongYi';
  font-weight: 400;
  src: local('FZZongYi-M05S'), url('fangzheng/FZZYJW.woff2') format('woff2'), url('fangzheng/FZZYJW.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-family: 'PingFangSC';
  font-weight: 400;
  src: local('PingFangSC-Regular'), local('PingFang SC Regular'), local('.PingFangSC-Regular'), local('.PingFang SC Regular'), local('PingFangSC'), local('PingFang SC'), url('pingfang/SC-Regular.woff2') format('woff2'), url('pingfang/SC-Regular.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-family: 'PingFangSC';
  font-weight: 700;
  src: local('PingFangSC-Semibold'), local('PingFang SC Semibold'), local('.PingFangSC-Semibold'), local('.PingFang SC Semibold'), url('pingfang/SC-Semibold.woff2') format('woff2'), url('pingfang/SC-Semibold.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-family: 'SourceHanSansSC';
  font-weight: 400;
  src: local('SourceHanSansSC-Regular'), local('Source Han Sans SC Regular'), local('Source Han Sans SC'), local('Noto Sans CJK SC Regular'), local('Noto Sans CJK SC'), url('source-han/SansCN-Regular.woff2') format('woff2'), url('source-han/SansCN-Regular.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-family: 'SourceHanSansSC';
  font-weight: 700;
  src: local('SourceHanSansSC-Bold'), local('Source Han Sans SC Bold'), local('Noto Sans CJK SC Bold'), url('source-han/SansCN-Bold.woff2') format('woff2'), url('source-han/SansCN-Bold.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-family: 'SFUIText';
  font-weight: 400;
  src: local('SFUIText-Regular'), local('.SFUIText-Regular'), local('SFProText-Regular'), local('SFProText'), url('sf-ui/Text-Regular.woff2') format('woff2'), url('sf-ui/Text-Regular.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-family: 'SFUIText';
  font-weight: 700;
  src: local('SFUIText-Bold'), local('.SFUIText-Bold'), local('SFProText-Bold'), url('sf-ui/Text-Bold.woff2') format('woff2'), url('sf-ui/Text-Bold.woff') format('woff');
}
